<html>
    <head>
        <title>Clay's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Clay's Blog</a></h1>
        </div>

        <div>
            <p>published: 11.30.2020, 9:58</p>
            <h2><a href="">My first post</a></h2>
            <p>Miku best girl</p>
        </div>

        <div>
            <p>published: 11.30.2020, 9:58</p>
            <h2><a href="">My second post</a></h2>
            <p>Mona is definitely up there as well however</p>
        </div>
    </body>
</html>